{% extends 'landing/base.html' %}

{% block content%}
<div class="home-container">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-20 col-sm-10">
                <form method="POST" action="">
                    {% csrf_token %}
                    <p>Are you sure you want to delete "{{obj}}"?</p>

                    <a href="{{request.META.HTTP_REFERER}}">Go Back</a>
                    <input type="submit" value="Confirm" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}