{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h2>Change password</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Change">
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <a href="{% url 'dashboard' %}">Back to dashboard</a>
        </div>
    </div>
</div>

{% endblock %}